# IT-309 - Asymptotic Analysis Demo: disjoint function
The three lists are assumed to have unique elements within themselves.  The functions test whether or not a duplicate element appears in all three lists.

In [1]:
def disjoint1(A, B, C):     #  2 ops
  """Return True if there is no element common to all three lists."""
  for a in A:               # 2n  
    for b in B:             # 2n x 2n = 4n**2
      for c in C:           # 2n x 2n x 2n = 8n**3 
        if a == b == c:     # 3 ops...9n**3
          return False      # 1 op    ...we found a common value
  return True               # 1 op     ...if we reach this, sets are disjoint

# Total T(n) = 2 + 2n + 2n + 4n**2 + 9n**3 + 1 + 1 = 9n**3 + 4n**2 + 4n + 4, which is O(n**3)

In [2]:
def disjoint2(A, B, C):     # 2 0ps
  """Return True if there is no element common to all three lists."""
  for a in A:               # 2n
    for b in B:             # 4n**2  
      if a == b:            # 2 x 4n**2      ...only check C if we found match from A and B
        for c in C:         # 0 up to 2 x n   since there are at most n a, b pairs that match 
          if a == c:         # 0 up to (2 x n) x 2 x n = 0 to 4 n**2    (and thus a == b == c)
            return False    # 1 op     we found a common value
  return True               # 1 op     if we reach this, sets are disjoint

# Total T(n) = 2 + 2n + 4n**2 + 8n**2 + 2n + 4n**2 + 1 + 1 = 16n**2 + 4n + 4, which is O(**2)

In [5]:
A = [1, 2, 3, 4, 15]
B = [11, 12, 13, 14, 15]
C = [21, 22, 23, 24, 15]

In [6]:
disjoint1(A, B, C)

False

# Best case: A1 = [1, 2, 3, 4, 5]
# How many duplicate pairs between A and A1?  Ans: 5 : (1, 1), (2, 2), ... (5,5)

In [1]:
def disjoint1(A, B, C):     #  2 ops
  """Return True if there is no element common to all three lists."""
  c1, c2, c3 = 0, 0, 0
  for a in A:               # 2n  
    c1 += 1
    for b in B:             # 2n x n = 2n**2
      c2 += 1
      for c in C:           # 2n x n x n = 2n**3 
        c3 += 1
        if a == b == c:     # 3 ops...3n**3
          return False, c1, c2, c3    # 1 op    ...we found a common value
  return True, c1, c2, c3   # 1 op     ...if we reach this, sets are disjoint

# Total T(n) = 2 + 2n + 2n + 2n**2 + 2n**3 + 1 + 1 = 5n**3 + 2n**2 + 4n + 4, which is O(n**3)

In [5]:
def disjoint2(A, B, C):     # 2 0ps
  """Return True if there is no element common to all three lists."""
  c1, c2, c3 = 0, 0, 0
  for a in A:               # 2n
    c1 += 1
    for b in B:             # 2n**2  
      c2 += 1
      if a == b:            # 2 x n**2      ...only check C if we found match from A and B
        c3 += 1
        for c in C:         # 0 up to 2 x n   since there are at most n a, b pairs that match 
          if a == c:         # 0 up to (2 x n) x n = 0 to 2 n**2    (and thus a == b == c)
            return False, c1, c2, c3    # 1 op     we found a common value
  return True, c1, c2, c3               # 1 op     if we reach this, sets are disjoint

# Total T(n) = 2 + 2n + 2n**2 + 2n**2 + 2n + 2n**2 + 1 + 1 = 6n**2 + 4n + 4, which is O(**2)

In [6]:
disjoint1 (A, B, C)

(True, 5, 25, 125)

In [8]:
disjoint2 (A, B, C)

(True, 5, 25, 0)

In [9]:
B1 = [1, 2, 3, 4, 5]

In [10]:
print(disjoint1 (A, B1, C))
print(disjoint2(A, B1, C))

(True, 5, 25, 125)
(True, 5, 25, 5)

In [11]:
C1 = [11, 12, 13, 14, 15]

In [12]:
print(disjoint1(A, B, C1))
print(disjoint2(A, B, C1))

(True, 5, 25, 125)
(True, 5, 25, 0)